# Python / Build
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/
ENV/

# Streamlit
.streamlit/credentials.toml
.streamlit/secrets.toml
.streamlit/cache/
.streamlit/

# Jupyter / OS
.ipynb_checkpoints/
.DS_Store

# Devcontainers / Node
.devcontainer/
node_modules/
